*{
    margin: 0;
    box-sizing: border-box;
}

footer{
    height: 200px;
    width: 100%;
    background-image: url(./img/pattern.png);
    background-position: centerd;
    background-color: #4ea0ff;
}

img{
    width: 20%;
    height: 50%px;
    padding-top: 3%;
    margin-left: 1%;
}

main{
    margin-left: 1%;
}

h1{
    font-size: 70px;
}

.scritta-grigia{
     color: #808080;
}

.didascalia-h1{
    font-size: 25px;
}

#the-booleaner{
    color: #20A9E5;
}

.berner{
    background-image: url(./img/tim-1.jpg);
    width: 30%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1%;
}

#tim-2{
    background-image: url(./img/tim-2.jpg);
    width: 25%;
}


.tanto-testo{
    font-size: 25px;
    margin-top: 1%;
}

.evidenziatore{
    background-color: yellow;
}

table{
    margin-top: 1%;
}

thead{
    background-color: #20A9E5;
}

#intestazione-tabella{
    color: white;
}

.tr-azzurre{
    background-color: #B1E5F2;
}

.tr-larghe{
    height: 100px;
}