*{
    margin: 0;
    box-sizing: border-box;
}

footer{
    height: 250px;
    width: 100%;
    background-image: url(./img/pattern.png);
    background-position: centerd;
    background-color: #4ea0ff;
}

img{
    width: 30%;
    height: 50%px;
    padding-top: 9%;
}